#Ana-Başlık{
    color:red;
     text-align: left;
    font-family: 'Rubik Moonrocks', cursive;;}
 

#ikinci-başlık
{  
    color:blue;
    text-align:left;
    font-family: 'Rubik Moonrocks', cursive;;}
    #footer{
        color:green
    }
 